fastapi
uvicorn
python-dotenv
PyJWT
google-generativeai
pydantic
python-multipart
websockets
firebase-admin # Added for Firebase Authentication
# Uncomment when needed:
spotipy
google-cloud-aiplatform
pydantic-settings
faker